.checked {
    color: orange;
}

/* table {
    border-collapse: collapse; 
  } */

/* td {
    padding-right: 50px;
} */

/* table, th, td {
  border: 1px solid black;
} */

td:nth-child(2){
    padding-right: 50px;
}

